@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  text-decoration: none !important;
  list-style: none !important;
  scroll-behavior: smooth;
}

body {
  background: var(--global-color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 100px;
}

img {
  display: block;
}

.btn-primary {
  background: var(--global-color-white);
  border-radius: 100px;
  font-weight: 700;
  padding: 10px 48px;
  font-family: "Poppins", sans-serif;
  border: none;
}
.btn-danger {
  background: #650000;
  border-radius: 100px;
  font-weight: 700;
  padding: 10px 48px;
  font-family: "Poppins", sans-serif;
  border: none;
  color: white;
}

.btn-con {
  z-index: 1;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2em;
}

.field-con {
  padding: 10px;
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
}

.field-con i {
  top: 25px;
  font-size: 18px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.field-con label {
  font-family: "Poppins", sans-serif;
  color: var(--global-color-black);
  font-size: 12px;
  font-weight: 700;
}

.field-con:not(:last-child) {
  margin-bottom: 30px;
  position: relative;
}

.field-con input,
.field-con select {
  border: none;
  background: none;
  border-bottom: 3px solid var(--global-color-black);
  overflow: visible;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

:root {
  --global-color-white: #ffffff;
  --global-color-black: #222222;
  --global-color-light-yellow: #fded8f;
  --global-color-background: #f5f4e6;
  --global-color-yellow: #ffde59;
  --global-color-orange: #ffa100;
  --global-color-red: #ec2127;

  --global-drop-shadow: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

#header {
  position: fixed;
  left: 0;
  width: 100%;
  top: 0;
  z-index: 9;
  background: var(--global-color-light-yellow);
}

#header .header-con {
  padding: 20px;
}

#header ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  transition: 0.2s;
  color: var(--global-color-black);
}

#header ul li a:hover {
  color: var(--global-color-red);
}

#header .logo-nav {
  position: absolute;
  left: 49.5%;
}

#header .logo-nav img {
  width: 100px;
  margin: 0 auto;
  height: 100px;
}

#header .navbar {
  justify-content: center;
  display: flex;
  position: relative;
  gap: 50px;
  margin: 0;
  padding: 0;
}

#header .navbar li:nth-child(3) {
  margin-right: 50px;
}

#header .navbar li:nth-child(5) {
  margin-left: 50px;
}

#register .wrapper,
#login .wrapper,
#schedule .wrapper {
  max-width: 1440px;
}

#register .register-con,
#login .login-con,
#dashboard .dashboard-con {
  padding: 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#schedule .table-btn-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

#schedule .table-btn-con button,
#schedule .table-btn-con a{
  padding: 10px 15px;
  margin: 0;
  font-size: 20px;
}

#schedule .schedule-con {
  padding: 200px 0;
}

#schedule .schedule-con .schedule-header-con {
  display: flex;
  justify-content: end;
  margin-bottom: 50px;
}

#schedule .table-wrapper {
  display: flex;
  margin-top: -150px;
  justify-content: center;
}

#schedule .table-wrapper button {
  border: none;
  cursor: pointer;
}

#schedule .table-wrapper table tbody {
  text-align: center;
}

#register .register-con p,
#login .login-con p,
#dashboard .dashboard-con p {
  background: var(--global-color-red);
  color: var(--global-color-white);
}

#register .register-details p,
#login .login-details p,
#dashboard .dashboard-details p {
  width: 730px;
  font-size: 26px;
  z-index: 1;
  position: relative;
  margin-top: 10px;
}

#register .heading-con,
#login .heading-con,
#dashboard .heading-con {
  position: relative;
}

#register .heading-con::after,
#login .heading-con::after,
#dashboard .heading-con::after {
  content: "";
  position: absolute;
  width: 100%;
  z-index: 1;
  background: var(--global-color-yellow);
  height: 90px;
  bottom: 0;
  left: 0;
}

#register .heading-con h1,
#login .heading-con h1,
#dashboard .heading-con h1 {
  padding-bottom: 50px;
  text-align: center;
  z-index: 2;
  position: relative;
}

.btn-con button {
  cursor: pointer;
}

#register .register-details,
#login .login-details,
#dashboard .dasboard-details {
  width: 800px;
}

#register .register-con form,
#login .login-con form,
#schedule .schedule-con .reservation-form,
#schedule .schedule-con .editModalForm {
  border-radius: 50px;
  position: relative;
  width: 600px;
  overflow: hidden;
  padding: 100px 30px 30px 30px;
}

#schedule .schedule-con .reservation-form,
#schedule .schedule-con .editModalForm {
  padding: 50px 30px 30px 30px;
}

#schedule .schedule-con .reservation-form h2,
#schedule .schedule-con .editModalForm h2 {
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
}

.d-field-con {
  display: flex;
  justify-content: space-between;
}

#register .register-con form:before,
#login .login-con form:before,
#schedule .schedule-con .reservation-form:before,
#schedule .schedule-con .editModalForm:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(
    90deg,
    var(--global-color-yellow) 0%,
    var(--global-color-orange) 100%
  );
}

#register .register-con form a,
#login .login-con form a {
  color: var(--global-color-black);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  z-index: 1;
  position: relative;
}

#dashboard,
#login,
#register {
  position: relative;
  background-image: url("../img/dasboard_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#dashboard::before,
#login::before,
#register::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

#services .services-con {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

#services .services-con p:first-child {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  background: var(--global-color-orange);
  font-size: 18px;
}

#services .services-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}

#services .service-widget {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

#services .service-widget p:first-of-type {
  font-weight: 700;
  font-size: 16px;
}

#services .service-widget img {
  width: 200px;
  height: 200px;
  clip-path: circle();
}

#services .service-widget p:last-of-type {
  text-align: start;
  width: 300px;
}

#about {
  background: var(--global-color-light-yellow);
}

#about .about-widget {
  display: flex;
  gap: 20px;
}

#about .about-con {
  padding: 20px 0;
}

#about .about-widget img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

#about .about-widget h2 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 20px;
}

#gallery .gallery-con {
  padding: 20px 0;
}

#gallery .gallery-con h2 {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--global-color-orange);
}

#gallery .gallery-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}

#gallery .gallery-list img {
  width: 300px;
  height: 250px;
  object-fit: cover;
}

#contact .contact-con {
  padding: 20px 0;
}

#contact .contact-con h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  background: var(--global-color-orange);
  padding: 5px 0;
  font-size: 18px;
}

#contact .contact-list {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#contact .contact-widget {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#contact .contact-widget img {
  width: 100px;
  margin: 0 auto;
}

#contact .contact-widget p {
  font-weight: 700;
}

#contact .contact-widget p:last-of-type {
  width: 280px;
}

#footer {
  background: var(--global-color-orange);
}

#footer .footer-con {
  text-align: center;
  padding: 5px 0;
}

/*STEPHEN ASDHFASKDJFHASJKFHASKJFASFH*/

section#section-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #000000a8;
  top: 0;
  z-index: 99999;
  display: none;
}

section#section-modal form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  width: 35%;
  padding: 36px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#section-modal form a {
  position: absolute;
  top: 5%;
  left: 2%;
}

section#section-modal form .btn-primary {
  background: var(--global-color-orange);
}


#schedule .table-responsive.hide-table {
  display: none;
}